/.idea
**/__pycache__/

# Ignore environment variable files anywhere in the project
*.env
**/.env
postman_environment.json

# Ignore virtual environment directories
env/
**/env/

# Ignore .vscode directory
.vscode/
**/.vscode/

# Ignore test script
temp.py

temp1.py

